<div>
  Yeahhhh we killin it
  <span><a href='/#/home'>Cancel</a></span>
  <div>
    <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm" ng-change="loadTimes()"></uib-datepicker>
    <pre>Selected date is: <em>{{dt | date:'MMddyyyy'}}</em></pre>
    <button ng-click="printDate()">click</button>
  </div>
  <div>
    <h4>Checkbox</h4>
    <pre>Model: {{checkModel}}</pre>
    <pre>Hours Selected: {{checkResults}}</pre>
    <div>
      <label class="btn btn-primary" ng-repeat="hour in hours" ng-Model="checkModel[hour]" disabled="{{takenHoursObj[hour]}}">{{hour}}:00</label>
    </div>
    <div>
      <button type="submit" class="btn btn-default" ng-click="submitReservation">Reserve</button>
    </div>
  </div>
</div>
