<div>
  Yeahhhh we killin it
  <span><a href='/#/home'>Cancel</a></span>
  <div>
    <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm" ng-change="loadTimes()"></uib-datepicker>
    <pre>Selected date is: <em>{{dt | date:'MMddyyyy'}}</em></pre>
    <button ng-click="printDate()">click</button>
  </div>
  <div>

  <h4>Checkbox</h4>
  <pre>Model: {{checkModel}}</pre>
  <pre>Hours Selected: {{checkResults}}</pre>
  <div>
      <label class="btn btn-primary" ng-model="checkModel['9']"
      ng-class = "{ 'btn btn-primary disabled': takenHoursObj['9'] }" uib-btn-checkbox>9 AM</label>
      <label class="btn btn-primary" ng-model="checkModel['10']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['10']}" uib-btn-checkbox>10 AM</label>
      <label class="btn btn-primary" ng-model="checkModel['11']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['11']}" uib-btn-checkbox>11 AM</label>
      <label class="btn btn-primary" ng-model="checkModel['12']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['12']}" uib-btn-checkbox>12 PM</label>
      <label class="btn btn-primary" ng-model="checkModel['1']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['1']}" uib-btn-checkbox>1 PM</label>
      <label class="btn btn-primary" ng-model="checkModel['2']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['2']}"uib-btn-checkbox>2 PM</label>
      <label class="btn btn-primary" ng-model="checkModel['3']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['3']}"uib-btn-checkbox>3 PM</label>
      <label class="btn btn-primary" ng-model="checkModel['4']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['4']}"uib-btn-checkbox>4 PM</label>
      <label class="btn btn-primary" ng-model="checkModel['5']"
       ng-class = "{ 'btn btn-primary disabled': takenHoursObj['5']}"uib-btn-checkbox>5 PM</label>
  </div>
  <div>
  <button type="submit" class="btn btn-default">Submit</button>
  </div>


  </div>
</div>


