// @import "reset";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "header";
@import "footer";
@import "home";
@import "reserve";

html {
  background-color: $mainColor;
  -webkit-font-smoothing: antialiased;
  * {
    box-sizing: border-box;
  }
}

body {
  background-color: $mainColor;
}

li {
  display: block;
}


div.friends-search{
  width: 200px;
  height: 40px;
}